#admin-content{
    width: 100vw;
    height: 100vh;
    font-family: "Work Sans", sans-serif;
}


.admin-container{
   margin: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input[type="file" i] {
    font-family: "Work Sans", sans-serif;
    margin-top: 20px;
}

form button{ 
    width: 160px;
    background-color: rgba(0, 0, 0, 0.616);
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: "Noto Sans", sans-serif;
    box-shadow: 0px 0px 10px 5px #42424227;
}

.form button:hover{
    background-color:rgb(70, 68, 68);
    transition: 0.5s;
}

.imageAdmin:hover {
    cursor: pointer;
    border: 1px solid red;
}

.imageAdmin > img {
    width: 280px;
}